Packer/proxmox-templates/variables.auto.pkrvars.hcl
/.env

.outputs/
Ansible/.venv/
.ansible/
Ansible/.collections/
Ansible/group_vars/proxmox/vault-certs.yaml
.vault-password
**/build.log
Terraform/.terraform
Terraform/terraform.tfstate
.gitignore

Terraform/.terraform.lock.hcl
Terraform/terraform.tfstate.backup
Terraform/*-cluster.tf
Terraform/modules/vault-secrets/.terraform.lock.hcl
Terraform/modules/vault-secrets/terraform.tfstate
Terraform/modules/vault-secrets/.terraform
Terraform/modules/vault-secrets/terraform.tfstate.backup
Ansible/group_vars/vault/vault-secrets.yaml
notes.md
Packer/flatcar/manifest.json
Terraform/terraform.tfstate.1772233972.backup
Terraform/.terraform.tfstate.lock.info
Terraform/tfplan
terraform.tfstate
Ansible/roles/lablabs.rke2
.secrets/
.codex