global_defs {
    enable_script_security
    script_user root
}

vrrp_script check_proxmox_ui {
    script "/usr/local/bin/check-proxmox-ui.sh"
    interval {{ keepalived_health_check_interval }}
    timeout {{ keepalived_health_check_timeout }}
    fall {{ keepalived_health_check_fall }}
    rise {{ keepalived_health_check_rise }}
}

vrrp_instance proxmox_ha_ui {
    state BACKUP
    interface {{ keepalived_vip_interface }}
    virtual_router_id {{ keepalived_router_id | default('100') }}
    priority {{ keepalived_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass[:8] }}
    }
    virtual_ipaddress {
        {{ keepalived_vip }}/{{ keepalived_vip_netmask }}
    }
    track_script {
        check_proxmox_ui
    }
}
