core.register_action("terraform_vault_auth", { "http-req" }, function(txn)
  local header_token = txn.sf:req_hdr("X-Terraform-Token")
  if header_token ~= nil and header_token ~= "" then
    txn.http:req_set_header("X-Vault-Token", header_token)
  end
end)

core.register_action("unwrap_vault_response", { "http-res" }, function(txn)
  return
end)
