[Unit]
Description=HashiCorp Vault
Documentation=https://developer.hashicorp.com/vault/docs
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ vault_home }}/vault.hcl

[Service]
User={{ vault_user }}
Group={{ vault_group }}
ExecStart={{ vault_bin_path }} server -config={{ vault_home }}/vault.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart={{ vault_systemd_restart_policy }}
RestartSec={{ vault_systemd_restart_sec }}
LimitNOFILE=65536
LimitNPROC=65536
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_IPC_LOCK
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
WorkingDirectory={{ vault_home }}
Environment=VAULT_ADDR={{ vault_local_api_addr }}

[Install]
WantedBy=multi-user.target
