set timeout=5
menuentry 'Debian installer (HTTP preseed)' {
  linuxefi (tftp)/debian/linux auto=true priority=critical url=http://PXE_HTTP_HOST/preseed/bookworm.cfg ---
  initrdefi (tftp)/debian/initrd.gz
}
