provider:
  name: cloudflare
sources:
  - ingress
  - service
interval: 1m
policy: sync
txtOwnerId: "{{ kubernetes_cluster_name }}-cloudflare"
domainFilters:
  - {{ kubernetes_externaldns.cloudflare.domain_filter }}
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: externaldns-cloudflare-secret
        key: api-token
podLabels:
  cluster: {{ kubernetes_environment }}
