apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
    - name: kube-vip
      image: "{{ kubernetes_kube_vip.image }}"
      imagePullPolicy: IfNotPresent
      args:
        - manager
      env:
        - name: vip_arp
          value: "{{ kubernetes_kube_vip.arp | ternary('true', 'false') }}"
        - name: port
          value: "6443"
        - name: vip_interface
          value: "{{ kubernetes_kube_vip.interface }}"
        - name: vip_address
          value: "{{ kubernetes_kube_vip.vip }}"
        - name: cp_enable
          value: "{{ kubernetes_kube_vip.controlplane | ternary('true', 'false') }}"
        - name: cp_namespace
          value: kube-system
        - name: svc_enable
          value: "{{ kubernetes_kube_vip.services | ternary('true', 'false') }}"
        - name: vip_leaderelection
          value: "{{ kubernetes_kube_vip.leader_election | ternary('true', 'false') }}"
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
            - SYS_TIME
      volumeMounts:
        - mountPath: /etc/kubernetes/admin.conf
          name: kubeconfig
  volumes:
    - hostPath:
        path: /etc/rancher/rke2/rke2.yaml
        type: FileOrCreate
      name: kubeconfig
