server: "{{ kubernetes_join_server_url }}"
token: "{{ rke2_server_token }}"
node-ip: "{{ ansible_host | default(ansible_default_ipv4.address) }}"
node-name: "{{ inventory_hostname }}"
selinux: {{ kubernetes_rke2_selinux | bool | lower }}
pause-image: "{{ kubernetes_rke2_pause_image }}"
{% set current_worker = (kubernetes_nodes.workers | default([]) | selectattr('name', 'equalto', inventory_hostname) | list | first) | default({}) %}
node-label:
{% for label in kubernetes_rke2_agent_node_labels %}
  - "{{ label }}"
{% endfor %}
{% for label in current_worker.labels | default([]) %}
  - "{{ label }}"
{% endfor %}
node-taint:
{% for taint in kubernetes_rke2_agent_node_taints %}
  - "{{ taint }}"
{% endfor %}
{% for taint in current_worker.taints | default([]) %}
  - "{{ taint }}"
{% endfor %}
kubelet-arg:
  - "cloud-provider=external"
  - "protect-kernel-defaults=true"
{% for arg in kubernetes_rke2_kubelet_arg %}
  - "{{ arg }}"
{% endfor %}
