[Unit]
Description=pganalyze collector container
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker rm -f {{ postgres_pganalyze_container_name }}
ExecStart=/usr/bin/docker run --rm \
  --name {{ postgres_pganalyze_container_name }} \
  --network host \
  -v {{ postgres_pganalyze_config_path }}:/etc/pganalyze-collector.conf:ro \
  {{ postgres_pganalyze_container_image }}
ExecStop=/usr/bin/docker stop {{ postgres_pganalyze_container_name }}

[Install]
WantedBy=multi-user.target
